{
	"Group": "{{ self.group }}",
	"Name": "{{ self.name }}",
	"Version": "1.0.0",
	"Description": "{{ self.description }}",
	"Authors": [
		{
			"Name": "{{ self.authors.author_name }}",
			"Email": "{{ self.authors.author_email }}",
			"Url": "{{ self.authors.author_url }}"
		}
	],
	"Website": "{{ self.website }}",
	"ServerVersion": "*",
	"Dependencies": {},
	"OptionalDependencies": {},
	"DisabledByDefault": false,
	"IncludesAssetPack": false,
	"Main": "{{ self.group }}.{{ self.name }}"
}